/* common.css 공통 디자인 */
body {}
#wrap {}
/* ---------------------------- top bnr */
#wrap .top_bnr_wrap {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    background: #e0dbef;
}
#wrap .top_bnr_wrap .slide_wrap {
    max-width: 1140px; overflow: hidden;
}
#wrap .top_bnr_wrap .slide_wrap .slide_container {
    width: max-content;
    display: flex; flex-flow: row nowrap;
}
#wrap .top_bnr_wrap .slide_wrap .slide_container .slide {
    width: 1140px; height: 52px; display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: center;
    animation: slide 1s linear 5s both;
    font-size: 1.13rem; font-weight: 500; color: #001e63;
}
#wrap .top_bnr_wrap .slide_wrap .slide_container .slide:nth-child(1) {}
#wrap .top_bnr_wrap .slide_wrap .slide_container .slide:nth-child(2) {}
#wrap .top_bnr_wrap .slide_wrap .close {
    position: absolute; top:19px; right: 50px;
}
/* --------------------------- header */
#wrap header {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
    padding: 0 50px;
    position: relative; height: 63px;
}
/* --------------------------- header > logo */
#wrap header nav {
    display: flex; flex-flow: row nowrap; align-items: center;
}
#wrap header nav #logo {margin-right: 29px; width: 110px;}
#wrap header nav #logo a {}
#wrap header nav #logo a img {width: 100%;}
/* --------------------------- header > nav */
/* --------------------------- header > nav > gnb */
#wrap header nav #gnb {
    /* background-color: sandybrown; */
    display:flex; flex-flow: row nowrap;
}
#wrap header nav #gnb > li {
    padding: 0 29px;
}
#wrap header nav #gnb > li > a {
    display: flex; flex-flow: row nowrap; align-items: center;
    color: #001e63; font-weight: 700;
    height: 63px; 
}
#wrap header nav #gnb > li:hover .menu_all {display: block;}
#wrap header nav #gnb > li .menu_all * {color: #001e63;}/* gnb depth들 글자색상 */
#wrap header nav #gnb > li .menu_all {
    display: none; width: 100%; height: 400px;
    position: absolute; top: 63px; left: 0;
    padding: 10px 0 30px 215px;
    background: #fff;
}
#wrap header nav #gnb > li .menu_all .gnb_depth2 {
    display: flex; flex-flow: row nowrap;
}
#wrap header nav #gnb > li .menu_all .gnb_depth2 > li {width: 200px; position: relative;}
#wrap header nav #gnb > li .menu_all .gnb_depth2 > li:nth-child(1)::before {
    content: ''; display: block;
    position: absolute; top: 0; left: 150px;
    width: 1px; height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
#wrap header nav #gnb > li .menu_all .gnb_depth2 > li > a {
    font-size: 0.88rem; font-weight: 700;
    display: block; margin: 15px 0 25px;
}
#wrap header nav #gnb > li .menu_all .gnb_depth2 > li .gnb_depth3 {}
#wrap header nav #gnb > li .menu_all .gnb_depth2 > li .gnb_depth3 li {margin-bottom: 15px;}
#wrap header nav #gnb > li .menu_all .gnb_depth2 > li .gnb_depth3 li a {font-size: 0.88rem;}
/* ------------------------------------ gnb > sports */
#wrap header nav #gnb > li .menu_all .gnb_depth2 > .gnb_depth3 {
    border: 1px solid blue;
    display: grid; width: max-content;
    grid-template-columns: 1fr 1fr 1fr;
}/* gnb-sports */
#wrap header nav #gnb > li .menu_all .gnb_depth2 .gnb_depth3 a {
    border: 1px solid red;
    font-size: 0.88rem; font-weight: 400;
}/* gnb-sports */
/* ------------------------------------ gnb > run */
#wrap header nav #gnb > li:last-child .menu_all {}
#wrap header nav #gnb > li:last-child .menu_all .gnb_depth2 {display: flex; flex-flow: column nowrap;}
#wrap header nav #gnb > li:last-child .menu_all .gnb_depth2 > li {}
#wrap header nav #gnb > li:last-child .menu_all .gnb_depth2 > li > a {}
#wrap header nav #gnb > li:last-child .menu_all .gnb_depth2 > li:nth-child(1)::before {display: none;}
/* --------------------------- header > nav > ad_box */
#wrap header nav #gnb > li .menu_all .ad_box {display: none;}
#wrap header nav #gnb > li .menu_all .ad_box a {}
#wrap header nav #gnb > li .menu_all .ad_box a img {}
#wrap header nav #gnb > li .menu_all .ad_box a em {}
#wrap header nav #gnb > li .menu_all .ad_box a em sup {}
/* --------------------------- header > .lnb_right */
#wrap header .lnb_right {
    /* background-color: lightcoral; */
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
/* -----------------------------검색 폼 */
#wrap header .lnb_right #h_search_box {
    background: #fff;
    border:1px solid #001e63; border-radius: 50px;
    display: flex; flex-flow: row nowrap; align-items: center;
    width: 230px; height: 30px; padding: 0 10px;
}
#wrap header .lnb_right #h_search_box #search_txt {
    width: 190px; font-size: 0.81rem;
}
#wrap header .lnb_right #h_search_box #search_btn {width: 24px;}
#wrap header .lnb_right #h_search_box #search_btn img {
    position: relative; top:2px;
}
/* -----------------------------회원 */
#wrap header .lnb_right .sign_in_up,
#wrap header .lnb_right .customer_service {font-size:0.81rem; margin-left: 25px;}
#wrap header .lnb_right .sign_in_up {
    color: #001e63; position: relative;
    font-weight: 700;
}
#wrap header .lnb_right .customer_service {}
#wrap header .lnb_right .sign_in_up::after {
    content: ''; display: block;
    width: 1px; height: 10px;
    background-color: #001e63;
    position: absolute; top:0; right: -13px;
}
#wrap header .lnb_right .cart {width: 24px; margin-left: 12px;}
#wrap header .lnb_right .cart img {}

/* ------------------------- 애니메이션 키프레임 */
@keyframes slide {
    0% {transform: translateX(0);}
    100% {transform: translateX(-1140px)}
}