/* index.css */
/* -------------------------------- main */
#wrap main {}
/* -------------------- fab */
#wrap main .fab {}
#wrap main .fab .chat_btn {}
#wrap main .fab .chat_btn img {}
#wrap main .fab .up_btn {}
#wrap main .fab .up_btn img {}
/* -------------------- gel_kinetic */
#wrap main .gel_kinetic {}
#wrap main .gel_kinetic a {}
#wrap main .gel_kinetic a img {}
#wrap main .gel_kinetic .txt_box {}
#wrap main .gel_kinetic .txt_box .title {}
#wrap main .gel_kinetic .txt_box p {}
#wrap main .gel_kinetic .txt_box .buy_btn {}
/* -------------------- hero_bnr_slide */
#wrap main .hero_bnr_slide_wrap {}
#wrap main .hero_bnr_slide_wrap .slide_container {}
/* --------------------------------------- hero_bnr_slide 공통 */
#wrap main .hero_bnr_slide_wrap .slide_container .slide {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide a {} /* bg */
#wrap main .hero_bnr_slide_wrap .slide_container .slide a h1 {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide a h1 em {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide .bnr_txt_box {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide .bnr_txt_box h1 {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide .bnr_txt_box h1 sup {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide .bnr_txt_box p {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide .bnr_txt_box .buy_btn {}
/* --------------------------------------- hero_bnr_slide 개별 */
#wrap main .hero_bnr_slide_wrap .slide_container .slide1 {}
#wrap main .hero_bnr_slide_wrap .slide_container .slide2 {}
/* --------------------------------------- hero_bnr_slide 버튼, 페이지 바 */
#wrap main .hero_bnr_slide_wrap .prev_btn {}
#wrap main .hero_bnr_slide_wrap .prev_btn img {}
#wrap main .hero_bnr_slide_wrap .next_btn {}
#wrap main .hero_bnr_slide_wrap .next_btn img {}
#wrap main .hero_bnr_slide_wrap .page_bar {}
#wrap main .hero_bnr_slide_wrap .page_bar > a {}/* 공통 */
#wrap main .hero_bnr_slide_wrap .page_bar .active {}
#wrap main .hero_bnr_slide_wrap .page_bar > a:last-child {}
/* ------------------------------- sports_shop  */
#wrap main .sports_shop_wrap {}
#wrap main .sports_shop_wrap .title {}
#wrap main .sports_shop_wrap .shop_slide_wrap {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container {}
/* --------------------------------- sports_shop slide 공통 */
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide a {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide a img {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide a span {}
/* --------------------------------- sports_shop slide 개별 */
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide1 {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide2 {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide3 {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide4 {}
#wrap main .sports_shop_wrap .shop_slide_wrap .slide_container .slide5 {}
/* --------------------------------- sports_shop slide 버튼+페이지 바 */
#wrap main .sports_shop_wrap .shop_slide_wrap .prev_btn {}
#wrap main .sports_shop_wrap .shop_slide_wrap .prev_btn img {}
#wrap main .sports_shop_wrap .shop_slide_wrap .next_btn {}
#wrap main .sports_shop_wrap .shop_slide_wrap .next_btn img {}
#wrap main .sports_shop_wrap .shop_slide_wrap .page_bar {}
#wrap main .sports_shop_wrap .shop_slide_wrap .page_bar > a {} /* 공통 */
#wrap main .sports_shop_wrap .shop_slide_wrap .page_bar .active {}
#wrap main .sports_shop_wrap .shop_slide_wrap .page_bar > a:last-child {}
/* ------------------------------------marathon_wrap */
#wrap main .marathon_wrap {}
#wrap main .marathon_wrap .title {}
#wrap main .marathon_wrap .tab_menu {}
#wrap main .marathon_wrap .tab_menu li {}
#wrap main .marathon_wrap .tab_menu li .more {} /*  marathon_wrap 더보기 버튼  */
#wrap main .marathon_wrap .tab_menu li .active {}
/* ------------------------------------marathon_wrap - race */
#wrap main .marathon_wrap .tab_menu li .race_tab {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container {}
/* -------------------------------------------------------- marathon_wrap slide 공통 */
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .product_img {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .product_img img {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .txt_box {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .txt_box .product_name {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .txt_box .product_price {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .txt_box p {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .txt_box p .new {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide .txt_box p .member {}
/* -------------------------------------------------------- marathon_wrap slide 개별 */
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide1 {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide2 {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide3 {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide4 {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide5 {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide6 {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .slide_container .slide7 {}
/* ------------------------------------------ marathon_wrap slide 버튼  */
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .prev_btn {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .prev_btn img {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .next_btn {}
#wrap main .marathon_wrap .tab_menu li .race_slide_wrap .next_btn img {}
/* ------------------------------------marathon_wrap - race */
#wrap main .marathon_wrap .tab_menu li .training_tab {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container {}
/* -------------------------------------------------- marathon_wrap slide 공통 */
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide .product_img {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide .product_img img {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide .txt_box {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide .txt_box .product_name {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide .txt_box .product_price {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide .txt_box .new {}
/* -------------------------------------------------- marathon_wrap slide 개별 */
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide1 {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide2 {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide3 {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide4 {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide5 {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .slide_container .slide6 {}
/* -------------------------------------------------- marathon_wrap slide버튼 */
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .prev_btn {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .prev_btn img {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .next_btn {}
#wrap main .marathon_wrap .tab_menu li .training_tab .training_slide_wrap .next_btn img {}
/* ------------------------------------------ sportstyle_hero_bnr  */
#wrap main .sportstyle_hero_bnr {} /* bg */
#wrap main .sportstyle_hero_bnr .bnr_txt_box {}
#wrap main .sportstyle_hero_bnr .bnr_txt_box .title {}
#wrap main .sportstyle_hero_bnr .bnr_txt_box p {}
#wrap main .sportstyle_hero_bnr .bnr_txt_box a {}
#wrap main .gel_nyc_wrap {}
#wrap main .gel_nyc_wrap a {}
#wrap main .gel_nyc_wrap a img {}
#wrap main .gel_nyc_wrap .txt_box {}
#wrap main .gel_nyc_wrap .txt_box .title {}
#wrap main .gel_nyc_wrap .txt_box p {}
#wrap main .gel_nyc_wrap .txt_box .buy_btn {}
#wrap footer {}
#wrap footer #f_left {}
#wrap footer #f_left .f_logo {}
#wrap footer #f_left .f_logo > a {}
#wrap footer #f_left .f_logo > a img {}
#wrap footer #f_left .tel {}
#wrap footer #f_left > p {}
#wrap footer #f_left .licenses_list {}
#wrap footer #f_left .licenses_list li {}
#wrap footer #f_left .licenses_list li a {}
#wrap footer #f_left .licenses_list li a img {}
#wrap footer #f_left .licenses_list li .licenses_txt {}
#wrap footer #f_left .licenses_list li .licenses_txt p {}
#wrap footer #f_left .licenses_list li .licenses_txt p span {}
#wrap footer #fnb {}
#wrap footer #fnb li {}
#wrap footer #fnb li a {}
#wrap footer #f_right {}
#wrap footer #f_right > a {}
#wrap footer #f_right p {}
#wrap footer #f_right .url {}
#wrap footer #f_right .mail {}
#wrap footer #f_right .business_info {}
#wrap footer #f_right .sns_list {}
#wrap footer #f_right .sns_list a {}
#wrap footer #f_right .sns_list a img {}